@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin-top: 120px;
}

.top-cashback-link {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f1f7;
    font-size: 14px;
    align-items: center;
    padding: 20px;
}

.top-cashback-link strong {
    text-decoration: underline;
}

.awarded-cashback {
    height: 50px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}

.awarded-cashback>h2 {
    text-align: center;
    align-items: center;
    margin-top: -10px;
}

.awarded-cashback>p {
    margin-top: 10px;
}

.awarded-cashback>strong {
    margin-top: 10px;
}

.awarded-cashback>img {
    width: 28px;
    margin-bottom: 10px;
}

.awarded-cashback>button {
    border-radius: 20px;
    margin: 5px;
    padding: 0px 14px 0px 14px;
}

.awarded-cashback>button:hover {
    background-color: #202340;
    color: white;
}

.firstbanner {
    width: 100%;
}

.secondbanner {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.recent-viewed {
    display: flex;
    height: 424px;
    background-color: #f0f1f7;
    padding: 0px 20px 0px 20px;
    gap: 20px;
    margin: auto;

}

.recent-viewed>div {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    /* border: 1px solid green; */
    height: 95%;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.recent-viewed>div>img {
    margin: 20px 0 18px 0;
}

.recent-viewed>div>.Deedra-Mason {
    width: 95%;
    height: 78%;
}

.recent-viewed>.featured-onecart>div {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    width: auto;
    height: 50px;
    background-color: #f0f1f7;

}

.recent-viewed>.featured-onecart>div {
    display: grid;
    /* grid-template-row: repeat(4,1fr); */
    text-align: center;
    margin-top: 15px;
    align-items: center;
}

.recent-viewed>.featured-onecart>div>img {
    /* height:80%; */
    margin-top: 10px;
    /* background-color:gray; */
}

.recent-viewed>.featured-onecart>.featured-onecart-lastimg {
    height: 100px;
    margin-bottom: 25px;
}

.recent-viewed>.announcing {
    box-shadow: none;
    background-color: #f0f1f7;
}

.recent-viewed>.announcing>.announcing-upper {
    width: 350px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding-top: 10px;
    margin-top: -10px;
}

.recent-viewed>.announcing>.announcing-upper>h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.recent-viewed>.announcing>.announcing-upper>button {
    width: 280px;
    padding: 7px;
    font-size: 20px;
    background-color: #3b3e59;
    color: #fff;
    border-radius: 20px;
}

.recent-viewed>.announcing>.announcing-upper>button:hover {
    background-color: #202340;
}

.recent-viewed>.announcing>.announcing-lower>img {
    width: 300px;
    height: 280px;
    margin-top: 15px;
    margin-left: 25px;
}

body>.popular-tag {
    margin-top: 20px;
    margin-left: 55%;
    margin-bottom: 30px;
}

.popular-brands>div>.motives {
    width: 400px;
    height: 400px;
    margin-right: 40px;
}

.popular-brands {
    display: flex;
    margin-bottom: 80px;
}

.popular-brands>.popular-logo {
    display: flex;
    gap: 10px;
    width: 1073px;
    height: 125px;
    padding: 5px;
    justify-content: space-around;
    margin-top: 20px;
}

.popular-brands>.popular-logo img {
    border: 1px solid rgb(218, 245, 218);
    padding: 0px 30px 0 30px;
    /* background-color: #e6e8f8;
    background: -10% -10%; */
    position: color;
}

.popular-brands>.popular-brand-down {
    display: flex;
    gap: 10px;
    margin: auto;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    margin-left: -1073px;
    width: 1070px;
    margin-top: 165px;
    height: auto;
}

.popular-brands>.popular-brand-down>div {
    height: 215px;
    width: 258px;
}

.popular-brands>.popular-brand-down>div img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.popular-brands>.popular-brand-down>div p {
    font: bolder;
    font-weight: 700;
}

body>.golden-logo {
    width: 150px;
    height: 150px;
    margin-top: -50px;
    margin-bottom: -50px;
    text-align: center;
    margin-left: 45%;
}

/* this is slider bar */

.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-top: 50px;
}

.product-category {
    padding: 0 3vw;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 2vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* .product-container::-webkit-scrollbar {
    display: none;
} */

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 460px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;

}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.5;
    height: 50px;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;

}


.no-filter {
    display: flex;
    margin-top: 100px;
    margin: auto;
    width: 97%;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
    justify-content: center;
    padding: 10px 40px 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.no-filter div {
    margin-top: 50px;
    width: 400px;
    height: 300px;
    text-align: center;

}

.no-filter div p {
    margin-top: 10px;
    font-weight: 700;
}

.no-filter div img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.no-filter div p+p {
    font-size: 12px;
    font-weight: 000;
}

.no-filter div .eng-bbb {
    padding: 0px 20px 0px 20px;
}

.school-essential {
    width: 97%;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 612px;
    margin: auto;
    background-color: #d9cafe;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.school-essential div h2 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.school-essential .online-asses,
.offline-asses {
    width: 100%;
    height: 267px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    gap: 20px;
}

.school-essential .online-asses div {
    width: 175px;
    height: 228px;
    gap: 20px;

}

.school-essential .online-asses div img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid #b1a8d3;
}

/* .school-essential .online-asses div h4{
   
    text-transform: uppercase;
    
} */
.school-essential .offline-asses div img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid #b1a8d3;
}

.school-essential .offline-asses div {
    width: 175px;
    height: 228px;

}

.summer-table {
    width: 97%;
    height: 360px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.summer-table div h2 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.summer-table .summer-images {
    width: 100%;
    height: 267px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    gap: 20px;
}

.summer-table .summer-images div {
    width: 175px;
    height: 228px;
    gap: 20px;

}

.summer-table .summer-images div img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid #cbcdd4;
}

.fat-joe {
    width: 97%;
    height: 360px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.fat-joe div {
    margin-top: 0px;
    width: 400px;
    height: 300px;
    text-align: center;
    margin: auto;
}

.fat-joe div p+p {
    font-size: 12px;
    font-weight: 000;
}

.fat-joe div p {
    margin-top: 10px;
    font-weight: 700;
}

.our-brands {
    width: 97%;
    height: 370px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.our-brands div h2 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.our-brands .all-type-brands {
    width: 100%;
    height: 267px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
    gap: 20px;
}

.our-brands .all-type-brands div h3 {
    margin-bottom: 20px;
    font: 900;
}

/* this is footer */


footer p {
    padding: 0;
    font-size: 0.8em;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 1em 0;
    font-size: 1rem;
}

footer .footer-list {
    list-style: none;
    display: flex;
    /* margin: 1em 0;  */
    margin-right: 700px;
    margin-top: -10px;
    font-size: 16px;

}

footer ul li a {

    padding: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
    transition: 100ms;

}

footer ul li a:hover {
    color: var(--primary);
}

footer {
    width: 100%;
    height: 160px;
    /* padding-top: 20px; */
    background: rgb(108, 108, 144);
    color: #fff;
    display: grid;
    place-items: center;
    /* padding: 2em;  */
    font-size: 1.2rem;
}

.upper-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.upper-footer .footer-mail,
.footer-link {
    display: flex;
    gap: 20px;
}

.upper-footer .footer-mail {
    margin-right: 420px;
    margin-top: -20px;
    color: white;
}

.upper-footer .footer-link {
    margin-right: 50px;
    margin-top: -20px;

}

.upper-footer .footer-link p {
    color: #fff;
}

.upper-footer .footer-link button {
    height: 30px;
    padding: 0px 5px 0px 5px;
    margin-top: 13px;
    border-radius: 20px;
}

.upper-footer .footer-link button:hover {
    background-color: rgb(54, 54, 84);
    color: #fff;
}

.upper-footer .footer-mail button:hover {
    background-color: rgb(54, 54, 84);
    color: #fff;
}

.upper-footer .footer-mail p {
    color: #fff;
}

.upper-footer .footer-mail input {
    height: 30px;
    margin-top: 13px;
    padding: 0px 10px 0px 10px;
}

.upper-footer .footer-mail button {
    height: 30px;
    margin-top: 13px;
    padding: 0px 5px 0px 5px;
    border-radius: 0px;
    margin-left: -20px;
}

footer .footer-social {

    display: flex;
    gap: 20px;
    margin-top: 0px;
}

.list-social {
    display: flex;
    /* justify-content: space-around; */
}

.para .para1,
.para2 {
    color: #fff;
    font-size: 13px;
    margin-right: 300px;
}

.para .para1 {
    margin-top: -20px;
}

.para .para2 {
    margin-top: -10px;
}


/* Sticky Footer Styling */
body {
    min-height: 100vh;
}

.sticky-footer {
    position: sticky;
    top: 100%;
}

.anchor {
    display: flex;
    gap: 10px;
    margin-left: -850px;
    font-size: 13px;
    margin-top: -30px;
}

.footer-img {
    display: grid;
    width: 100%;
    background-color: rgb(210, 204, 220);
    height: 300px;
    margin: auto;
    gap: -50px;
}

.footer-img .footer-gap{
    display: flex;
    width: 55%;
    height: 100px;
    margin: auto;
    gap: 10px;
    margin-top: 30px;
}

.footer-img div img {
    width: 80%;
    
}
.footer-img .footer-downimg{
    width: 150px;
    margin: auto;
    margin-top: -20px;
}

/* here is media section----------------- */

@media all and (min-width:470px) and (max-width:870px) {
    .top-cashback-link {
        width: 200%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        background-color: #f0f1f7;
        font-size: 14px;
        align-items: center;
        padding: 20px;
    }

    .firstbanner {
        width: 200%;
        /* margin: auto; */
    }

    .secondbanner {
        width: 200%;
        margin-top: 10px;
        margin-bottom: 20px;
        height: 300px;
    }

    .awarded-cashback {
        height: 50px;
        display: flex;
        justify-content: space-around;
        width: 500px;
        margin: auto;
        text-align: center;
        margin-top: 5px;
        margin-left: 600px;
    }

    .awarded-cashback>h2 {
        text-align: center;
        align-items: center;
        margin-top: -10px;
    }

    .awarded-cashback>p {
        margin-top: 10px;
    }

    .awarded-cashback>strong {
        margin-top: 10px;
    }

    .awarded-cashback>img {
        width: 28px;
        margin-bottom: 10px;
    }

    .awarded-cashback>button {
        border-radius: 20px;
        margin: 5px;
        padding: 0px 14px 0px 14px;
    }

    .recent-viewed {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        height: auto;
        width: 200%;
        margin-bottom: 100px;
        background-color: #f0f1f7;
        padding: 0px 20px 0px 20px;
        gap: 20px;
        margin: auto;

    }

    .popular-brands>div>.motives {
        display: grid;
        width: 800px;
        height: 800px;
        margin-right: 40px;
        margin: auto;
        /* margin-right:-100px ; */
    }

    .popular-brands {
        display: grid;
        grid-template-rows: auto;
        margin-bottom: 80px;
        margin-left: 200px;
    }

    .popular-brands>.popular-brand-down {
        display: grid;
        gap: 10px;
        /* width: 100%; */
        margin: auto;
        align-items: center;
        /* text-align: center; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    body>.golden-logo {
        width: 150px;
        height: 150px;
        margin-top: -50px;
        margin-bottom: -50px;
        text-align: center;
        margin-left: 85%;
    }

    .product {
        position: relative;
        overflow: hidden;
        padding: 20px;
        margin-top: 50px;
        width: 200%;
    }

    .no-filter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        width: 200%;
    }

    .school-essential {
        width: 200%;
        height: auto;

    }

    .school-essential .online-asses,
    .offline-asses {
        width: 100%;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 100px;
    }

    .school-essential .online-asses,
    .offline-asses div img {
        height: 60%;
    }

    .summer-table {
        width: 200%;
        height: auto;
    }

    .summer-table .summer-images {
        margin-left: 100px;
        height: auto;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .summer-table {
        width: 200%;
        height: auto;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .fat-joe {
        width: 200%;
        height: 360px;
        display: flex;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    .our-brands {
        width: 200%;

        height: auto;

    }

    .our-brands .all-type-brands {
        width: 100%;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
    }

    .our-brands .all-type-brands div img {
        width: 70%;
        height: auto;
        margin: auto;
        display: grid;
        row-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
    }
}